name: CI

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  test-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[openai]"
          pip install -r requirements/dev-requirements.txt

      - name: Run tests
        run: |
          pytest dbgpt --cov=dbgpt --cov-report=xml:coverage-3.11-ubuntu-latest.xml --cov-report=html:htmlcov-3.11-ubuntu-latest --junitxml=pytest_report-3.11-ubuntu-latest.xml
          coverage_file="coverage-3.11-ubuntu-latest.xml"
          coverage_summary=$(grep -oP '<package name="\K[^"]+' $coverage_file | awk -F"." '{ if (NF == 2) print $0 }' | while read -r package_name; do
            line_rate=$(grep -oP "<package name=\"$package_name\" line-rate=\"\K[^\"]+" $coverage_file)
            echo "$package_name line-rate: $line_rate"
          done)
          echo "Coverage Summary: $coverage_summary"
          echo "::set-output name=summary::$coverage_summary"
          test_file="pytest_report-3.11-ubuntu-latest.xml"
          total_tests=$(grep -oP 'tests="\K\d+' $test_file)
          failures=$(grep -oP 'failures="\K\d+' $test_file)
          skipped=$(grep -oP 'skipped="\K\d+' $test_file)
          test_summary="Total tests: $total_tests, Failures: $failures, Skipped: $skipped"
          echo "Test Summary: $test_summary"
          echo "::set-output name=summary::$test_summary"